[user]
	name = Marino Skalnik
	email = marino.skalnik@gmail.com

[init]
	defaultBranch = main

[github]
	user = mskalnik

[core]
	editor = vim

[color]
	ui = auto

[credential]
	helper = cache --timeout=3600
