[user]
	name = Marino Skalnik
	email = marino.skalnik@gmail.com

[github]
	user = mskalnik

[core]
	editor = vim
	# Enable whitespace highlighting in diffs
	whitespace = trailing-space,space-before-tab,indent-with-non-tab

[color]
	ui = auto
